.wp-block-pb-accordion-item h1, .wp-block-pb-accordion-item h2, .wp-block-pb-accordion-item h3, .wp-block-pb-accordion-item h4, .wp-block-pb-accordion-item h5 {
  padding: 1rem;
  border: 1px solid black;
}
.wp-block-pb-accordion-item h1 a, .wp-block-pb-accordion-item h2 a, .wp-block-pb-accordion-item h3 a, .wp-block-pb-accordion-item h4 a, .wp-block-pb-accordion-item h5 a {
  margin-left: 15px;
  text-decoration: none;
}
.wp-block-pb-accordion-item .c-accordion__title:after {
  color: rgb(51, 51, 51);
  content: "+";
  font-weight: 700;
  font-size: 35px;
  position: absolute;
  left: 1.5%;
  top: 50%;
  transform: translateY(-50%);
}

.wp-block.list_withborder {
  padding-left: 40px;
  border-left: 4px solid #799982;
}

.privacyPage_wrapper > .wp-block > .privacy_accordion h5 {
  padding: 1rem 3rem;
  background-color: #D8DEE9 !important;
  text-transform: uppercase;
  border: none !important;
}
.privacyPage_wrapper > .wp-block > .privacy_accordion .c-accordion__content {
  background-color: #F6F6F6;
  padding: 0 1.5rem;
}

.coursesListing > .wp-block-columns > .courseCard {
  border-radius: 15px;
}
